# path to tle files
/Users/ddeboer/Documents/ubase/Code/myobs/tle
# obs_to_use_(check obs.dat)  daylight_savings_time
UCB    0
# local or utc
utc
# start:  either absolute Y M D H M S (==6, local/utc) or offset from now D H M S (==4)
2019 4 29 0 0 0
# stop: either absolute Y M D H M S(==6, local/utc) or offset from start D H M S (==4)
1 12 0 0
# step (minutes)
1
